<%= form_for(@artist_member) do |f| %>
  <% if @artist_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist_member.errors.count, "error") %> prohibited this artist_member from being saved:</h2>

      <ul>
      <% @artist_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Artist_id %><br>
    <%= f.text_field :Artist_id %>
  </div>
  <div class="field">
    <%= f.label :Member_id %><br>
    <%= f.text_field :Member_id %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
