<%= form_for(@artist) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Label_id %><br>
    <%= f.text_field :Label_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :countryCode %><br>
    <%= f.text_field :countryCode %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </div>
  <div class="field">
    <%= f.label :formed %><br>
    <%= f.number_field :formed %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :booking %><br>
    <%= f.check_box :booking %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.attachment_field :image %>

    <%= form.label :remote_image, "Or specify URL" %>
    <%= form.text_field :remote_image %>

    <%= form.check_box :remove_image %>
    <%= form.label :remove_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
