<p id="notice"><%= notice %></p>

<h1>Listing Artists</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Name</th>
      <th>Description</th>
      <th>Country</th>
      <th>City</th>
      <th>Genre</th>
      <th>Formed</th>
      <th>Active</th>
      <th>Booking</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.label %></td>
        <td><%= artist.name %></td>
        <td><%= artist.description %></td>
        <td><%= artist.country %></td>
        <td><%= artist.city %></td>
        <td><%= artist.genre %></td>
        <td><%= artist.formed %></td>
        <td><%= artist.active %></td>
        <td><%= artist.booking %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
