<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @artist.label %>
</p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artist.description %>
</p>

<p>
  <strong>Country:</strong>
  <%= @artist.countryCode %>
</p>

<p>
  <strong>City:</strong>
  <%= @artist.city %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @artist.genre %>
</p>

<p>
  <strong>Formed:</strong>
  <%= @artist.formed %>
</p>

<p>
  <strong>Active:</strong>
  <%= @artist.active %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @artist.booking %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag attachment_url(@artist, :image, :fill, 300, 300, format: "jpg") %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
